*.o
*.d

*.qrc.cpp
*.qm
ui_*.h
*.moc

*~
.DS_Store

/src/core

/src/constants.test.cpp
/src/*.qt.cpp

/src/.make.cxxflags
/src/.make.ldflags

/src/neucoind
/src/neucoin-qt

/src/neucoind.exe
/src/neucoin-qt.exe
