Source: neucoin
Section: utils
Priority: optional
Maintainer: Sylvain Laurent <sylvain@neucoin.org>
Build-Depends: debhelper,
 devscripts,
 libboost-system-dev (>> 1.55) | libboost-system1.55-dev,
 libdb5.3++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc-dev,
 libboost-filesystem-dev (>> 1.55) | libboost-filesystem1.55-dev,
 libboost-program-options-dev (>> 1.55) | libboost-program-options1.55-dev,
 libboost-thread-dev (>> 1.55) | libboost-thread1.55-dev,
 libboost-test-dev (>> 1.55) | libboost-test1.55-dev,
 qt5-default, qttools5-dev-tools,
 libpng12-dev,
 libqrencode-dev,
 imagemagick
Standards-Version: 3.9.2
Homepage: http://www.neucoin.org/
Vcs-Git: git://github.com/althousedev/neucoin.git
Vcs-Browser: http://github.com/althousedev/neucoin

Package: neucoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 NeuCoin is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 Full transaction history is stored locally at each client.  This
 requires 2+ GB of space, slowly growing.
 .
 This package provides neucoind, a combined daemon and CLI tool to
 interact with the daemon.

Package: neucoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - QT GUI
 NeuCoin is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 Full transaction history is stored locally at each client.  This
 requires 2+ GB of space, slowly growing.
 .
 This package provides neucoin-qt, a GUI for NeuCoin based on QT.
